*.tproj
.project
*.sqdev
.settings
node_modules
package-lock.json

#VSCODE
.vscode/ipch/*
.vscode/settings.json
Vindicta.Altis/.vscode/ipch/*

#BUILD
_build
tools/_build
tools/_buildID.txt

#TEMP
temp
temp/*
temp.sqf

#BACKUPS
mission.sqm.backup.at*

#MISSION
Vindicta.Altis/out/linecount.txt
Vindicta.Altis/out/linecount.json
Vindicta.Altis/mission.sqm
Vindicta.Altis/config/user_local_config.hpp
Vindicta.Enoch
Vindicta.Enoch/
Vindicta.Malden
Vindicta.Malden/
Vindicta.Tembelan
Vindicta.Tembelan/
Vindicta.Staszow 
Vindicta.Staszow/
Vindicta.Beketov
Vindicta.Beketov/
Vindicta.gm_weferlingen_summer
Vindicta.gm_weferlingen_summer/
~*
editing.*

#ADDON

#Vindicta-Addon
Vindicta-Addon/addons/*.pbo
Vindicta-Addon/releases
Vindicta-Addon/release
Vindicta-Addon/*.bikey
Vindicta-Addon/*.biprivatekey
Vindicta-Addon/keys
Vindicta-Addon/dev/

Vindicta-Addon/addons/missions/*

configs/briefingName.hpp
configs/*Version.hpp

tools/buildtool/dist/

*.pbo

*.tmp

# Random mods
tools/mods
