*.tproj
.project
*.sqdev
.settings
node_modules
package-lock.json

#VSCODE
.vscode/ipch/*
.vscode/settings.json
src/.vscode/ipch/*

#BUILD
_build
tools/_build
tools/_buildID.txt
*/src

#TEMP
temp
temp/*
temp.sqf

#BACKUPS
mission.sqm.backup.at*

#MISSION
src/out/linecount.txt
src/out/linecount.json
src/config/user_local_config.hpp
~*
editing.*
*.preproc
Vindicta.*/init.sqf
Vindicta.*/cba_settings.sqf
Vindicta.*/onPlayerRespawn.sqf
Vindicta.*/description.ext
Vindicta.*/stringtable.xml

#ADDON

#Vindicta-Addon
Vindicta-Addon/addons/*.pbo
Vindicta-Addon/releases
Vindicta-Addon/release
Vindicta-Addon/*.bikey
Vindicta-Addon/*.biprivatekey
Vindicta-Addon/keys
Vindicta-Addon/dev/

Vindicta-Addon/addons/missions/*

configs/briefingName.hpp
configs/*Version.hpp

tools/buildtool/dist/

*.pbo

*.tmp

# Random mods
tools/mods
