*.tproj
.project
*.sqdev
.settings
node_modules
_build

#VSCODE
.vscode/ipch/*
.vscode/settings.json
Project_0.Altis/.vscode/ipch/*

#TEMP
temp/*
temp.sqf
~tempMissionSP.Altis
~Project_0.Altis

#BACKUPS
mission.sqm.backup.at*

#MISSION
Project_0.Altis/out/linecount.txt
Project_0.Altis/out/linecount.json
Project_0.Altis/mission.sqm

#ADDON
Project_0-Addon/release/*
Project_0-Addon/**.cache
Project_0-Addon/**.pbo
Project_0-Addon/texHeaders.bin
Project_0-Addon/**.swp
Project_0-Addon/**.swo
Project_0-Addon/**.biprivatekey
Project_0-Addon/Thumbs.db
